extends ../../layouts/application
include mixins

block content
  +profile(user.photoSrc, user.displayName, user.city)
  div.activities-wrapper
    +calendarHeader(trainingCalendar.header)
    each week in trainingCalendar.activities
      each day in week.activities
        div.calendar-day
          if day.activities.length > 0
            each activity in day.activities
              if activity.hasGPS()
                a.js-pjax-link.index-activity.index-activity--active(href=`activities/${activity.id}`)
                  +activity(activity)
              else
                div.index-activity.index-activity--inactive
                  +activity(activity)
          else 
            p No activity today!
