extends ../../layouts/application
include mixins

block content
  +profile(user.photoSrc, user.displayName, user.city)
  div.activities-wrapper
    each activityGroup in Object.values(activitiesByWeek)
      - const startOfWeek = activityGroup[0].getStartOfWeek().format('dddd MMMM, D')
      - const endOfWeek = activityGroup[0].getEndOfWeek().format('dddd MMMM, D')
      div.activities-wrapper__week
        div.activities-wrapper__seperator
          p.activities-wrapper__text.f3.is-bold=`${startOfWeek} to `
          p.activities-wrapper__text.f3.is-bold=endOfWeek
        div.activities-wrapper__weekly-activities
          each activity, index in Object.values(activityGroup).reverse()
            if activity.hasGPS()
              a.js-pjax-link.index-activity.index-activity--active(href=`activities/${activity.id}`)
                +activity(activity)
            else
              div.index-activity.index-activity--inactive
                +activity(activity)
