extends ../../layouts/application

block styles
  link(rel='stylesheet', href='https://api.mapbox.com/mapbox-gl-js/v0.52.0/mapbox-gl.css')

block scripts
  script(src='https://api.mapbox.com/mapbox-gl-js/v0.52.0/mapbox-gl.js')
  script(src='/dist/MapEditor.bundle.js')

block content
  div.map-editor
    h1.f2.is-bold=activity.name
    a.strava-link(href=`https://www.strava.com/activities/${activity.id}`, target='_blank') View on Strava
    section.map-editor__form
      include partials/map-form
    section.map-editor__map
      include partials/loading-state
      div.js-map-container.map-container
        canvas.js-map-canvas-layer.map-container__canvas-layer
        img.js-map-img.map-container__map-layer(src="", alt=`${activity.name}`)
      a.js-map-download-link(href="", download="map.png") Download ↓
      include partials/hidden-map

