html(lang="en")
  head
    link(href="/dist/style.css", text="text/css", rel="stylesheet")
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Document
  body.container
    unless user
      p
        a(href="/") Home
        span  | 
        a(href="/login") Login
    else
      p
        a(href="/") Home
        span  | 
        a(href="/activities") Activities
        span  | 
        a(href="/logout") Log Out
    block content
    block scripts
      script(src="/dist/App.bundle.js")