extends ../layout

block styles
  link(rel="stylesheet", href="https://api.mapbox.com/mapbox-gl-js/v0.52.0/mapbox-gl.css")

block scripts
  script(src="https://api.mapbox.com/mapbox-gl-js/v0.52.0/mapbox-gl.js")
  script(src="/dist/MapEditor.bundle.js")

block content
  p=activity.name
  p=activity.distance
  div.map-container
    div#map-container.map-container__map(data-coords=coordinates)(data-bounds=bounds)
  img#map-image.src(src="", alt="")
  a#downloadLink(href="", download="map.png") Download ↓