mixin nav-link(path, text, icon)
  a.navbar__link(href=`/${path}`)
    != h.svg(`icons/${icon}`)
    =text

unless user
  nav.navbar
    +nav-link('', 'Home', 'home')
    span  | 
    +nav-link('login', 'Login', 'id')
    span  | 
    +nav-link('about', 'About', 'question-mark')
else
  nav.navbar
    +nav-link('', 'Home', 'home')
    span  | 
    +nav-link('activities', 'Activities', 'walk')
    span  | 
    +nav-link('logout', 'Log Out', 'id')
    span  | 
    +nav-link('about', 'About', 'question-mark')