mixin nav-link(path, text, icon)
  a.navbar__link(href=`${path}`, class=h.onCurrentNav(currentPath, path, text))
    != h.svg(`icons/${icon}`)
    =text

unless user
  nav.navbar
    +nav-link('/', 'Home', 'home')
    +nav-link('/login', 'Login', 'id')
    +nav-link('/about', 'About', 'question-mark')
else
  nav.navbar
    +nav-link('/', 'Home', 'home')
    +nav-link('/activities', 'Activities', 'walk')
    +nav-link('/logout', 'Log Out', 'id')
    +nav-link('/about', 'About', 'question-mark')