unless user
  nav
    a(href="/") Home
    span  | 
    a(href="/login") Login
    span  | 
    a(href="/about") About
else
  nav
    a(href="/") Home
    span  | 
    a(href="/activities") Activities
    span  | 
    a(href="/logout") Log Out
    span  | 
    a(href="/about") About