$activity-padding-top-size: 0.3rem;

@mixin activity-border-top($color) {
  border-top: $color $activity-padding-top-size solid;
}

.profile {
  display: flex;
  align-items: center;

  &__image {
    border-radius: $border-radius;
    box-shadow: $box-shadow-default;
  }

  &__text {
    margin-left: 1rem;
  }
}

.calendar-header {
  display: flex;

  &__day {
    flex-grow: 1;
    text-align: center;
  }
}

.calendar-week {
  // display: flex;
}

.calendar-day {
  // flex-grow: 1;
  // display: flex;
  // flex-direction: column;
  background-color: #fff;
  padding: 1rem;
  border-radius: $border-radius;
  box-shadow: $box-shadow-default;
  width: 100% / 7;
}

.activities-wrapper {
  display: grid;
  grid-gap: 0.5rem;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

  &__week {
    margin-bottom: 3rem;

    &:last-child {
      margin-bottom: 0;
    }

    @media (min-width: $navbar-change-width) {
      &:last-child {
        margin-bottom: 3rem;
      }
    }
  }

  &__seperator {
    text-align: left;
    max-width: 30rem;
    margin: 3rem auto;

    @media (min-width: $navbar-change-width) {
      max-width: 100%;
      margin: 0;
    }
  }

  &__text {
    @media (min-width: $navbar-change-width) {
      display: inline;
    }
  }

  &__weekly-activities {
    display: grid;
    grid-gap: 1.6rem;

    @media (min-width: $navbar-change-width) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: 1100px) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

.index-activity {
  border-radius: $border-radius;
  box-shadow: $box-shadow-default;
  background-color: #fff;
  display: block;
  text-decoration: none;
  color: $color-body-text;
  width: 30rem;
  margin: 0 auto;
  padding: (2rem - $activity-padding-top-size) 2rem 2rem;

  @media (min-width: $navbar-change-width) {
    width: 100%;
    margin: 0;
  }

  &--active {
    @include activity-border-top($color-primary);
    transition: $transition-medium;

    &:hover {
      transform: translateY(-0.2rem);
      box-shadow: $box-shadow-hover;
    }
  }

  &--inactive {
    @include activity-border-top($color-body-text);
    box-shadow: none;
  }

  &__workout-label {
    margin-top: 1.6rem;
    margin-bottom: 0.3rem;
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-weight: bold;
    color: $color-gray;
  }

  &__workout-tag {
    font-size: 1.4rem;
    color: #ffffff;
    letter-spacing: 0.1rem;
    display: inline;
    border-radius: $border-radius;
    padding: 0.4rem 1rem;
    box-shadow: $box-shadow-default;

    &--easy {
      background-color: $color-green;
    }

    &--long {
      background-color: $color-body-text;
    }

    &--workout {
      background-color: $color-red;
    }
  }
}

@keyframes fadein {
  from {
    opacity: 0;
    transform: translateY(2rem);
  }
}
