.navbar {
  position: fixed;
  background-color: #fff;
  bottom: 0;
  width: 100%;
  box-shadow: 0 6px 8px rgba(102, 119, 136, 0.03),
    0 1px 2px rgba(102, 119, 136, 0.3);
  padding: 1rem 0;
  z-index: 1000;

  &__inner {
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;

    @media (min-width: $navbar-change-width) {
      justify-content: left;
      padding: 0 5rem;
    }
  }

  &__link {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 7.5rem;
    color: lighten($color-body-text, 30);
    font-size: 1.2rem;
    letter-spacing: 0.1rem;

    svg {
      fill: lighten($color-body-text, 30);

      @media (min-width: $navbar-change-width) {
        display: none;
      }
    }

    &--active {
      color: $color-primary;

      svg {
        fill: $color-primary;
      }
    }

    @media (min-width: $navbar-change-width) {
      font-size: 1.6rem;
      letter-spacing: -0.3px;
      // letter-spacing: initial;
      align-items: start;
      width: initial;
      margin-right: 1rem;
    }
  }

  @media (min-width: $navbar-change-width) {
    position: relative;
    bottom: 0;
  }
}
