html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  padding-bottom: 7rem;
  background-color: #f1f3f5;

  @media (min-width: $navbar-change-width) {
    padding-bottom: 0;
  }
}
