form.map-form
  div
    label.form__label(for='activity-name') Title
    input#activity-name.js-activity-name-input.form__input(type='text', name='activity-name', value=activity.name)
  div
    label.form__label(for='distance-unit') Unit/Measurement:
    select#distance-unit.js-unit-select.form__select(autocomplete='off')
      option(selected) Miles
      option Kilometers
  div
    p Show/Hide Data:
    label.form__switch
      input#data-distance.js-map-display-checkbox(type='checkbox', name='distance', checked, autocomplete='off')
      i.form__icon
      | Distance
    label.form__switch
      input#data-time.js-map-display-checkbox(type='checkbox', name='time', checked, autocomplete='off')
      i.form__icon
      | Time
    label.form__switch
      input#data-pace.js-map-display-checkbox(type='checkbox', name='pace', checked, autocomplete='off')
      i.form__icon
      | Pace