// Colors

// Primary Colorys
$color-body-text: #345;
$color-gray: lighten($color-body-text, 30%);

$color-primary: #5755d9;
$color-secondary: lighten($color-primary, 37.5%);

$color-border: lighten($color-body-text, 65%);
$color-border-dark: darken($color-border, 10%);
$color-border-light: lighten($color-border, 8%);

// Secondary Colors
$color-red: #eb6872;
$color-green: #3d9970;
$color-strava-orange: #fc4c02;

// Box Shadow
$box-shadow-default: 0 6px 8px rgba(102, 119, 136, 0.03),
  0 1px 2px rgba(102, 119, 136, 0.3);
$box-shadow-hover: 0 20px 40px rgba(42, 42, 68, 0.1),
  0 10px 20px rgba(42, 42, 68, 0.15), 0 5px 10px rgba(0, 0, 0, 0.1);

// Sizes
$navbar-change-width: 700px;
$max-width: 1200px;

// Typography
$font-size: 1.6rem;
$line-height: 1.5;

// Element Styling
$border-radius: 0.2rem;
$transition-fast: 0.1s;
$transition-medium: 0.2s;

// Mixins
@mixin control-shadow($color: $color-primary) {
  box-shadow: 0 0 0 0.1rem rgba($color, 0.2);
}
