$activity-padding-top-size: 0.3rem;

@mixin activity-border-top($color) {
  border-top: $color $activity-padding-top-size solid;
}

.profile {
  display: flex;
  align-items: center;

  &__image {
    border-radius: 0.2rem;
    box-shadow: $box-shadow-default;
  }

  &__text {
    margin-left: 1rem;
  }
}

.activities-wrapper {
  &__week {
  }

  &__seperator {
    text-align: left;
    max-width: 30rem;
    margin: auto;

    @media (min-width: $navbar-change-width) {
      max-width: 100%;
      margin: 0;
    }
  }

  &__text {
    @media (min-width: $navbar-change-width) {
      display: inline;
    }
  }

  &__weekly-activities {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  @media (min-width: $navbar-change-width) {
  }
}

.index-activity {
  border-radius: 0.2rem;
  box-shadow: $box-shadow-default;
  background-color: #fff;
  display: block;
  text-decoration: none;
  color: $color-body-text;
  width: 30rem;
  margin: 1rem auto;
  padding: (2rem - $activity-padding-top-size) 2rem 2rem;

  @media (min-width: $navbar-change-width) {
    width: 35rem;
    margin: 0;
  }

  &--active {
    @include activity-border-top($color-strava-orange);
    transition: 0.2s;

    &:hover {
      transform: translateY(-0.2rem);
    }
  }

  &--inactive {
    @include activity-border-top($color-body-text);
    box-shadow: none;
  }
}
